.game-tabs {
  background-color: rgb(63, 81, 181);
  color: #fff;
  text-align: left;
  padding: 10px;
}

.game-tabs-par {
  padding: 20px 20px 0 20px;
  margin-bottom: 0;
}

.game-tabs-link {
  color: #fff;
}

.game-tabs-votes {
  margin-left: 20px;
  display: flex;
}

.game-tabs-votes-count {
  margin-left: 5px;
}

.game-tabs ::ng-deep .mat-tab-labels {
  justify-content: center;
}

.game-votes-up {
  color: #5ee432;
}

.game-votes-down {
  color: #ef4655;
}

.game-votes-count {
  margin-left: 5px;
  margin-right: 10px;
  vertical-align: super;
}

.game-description {
  padding: 20px;
}

.game-screenshot {
  margin-top: 5px;
  width: calc(50% - 10px);
}

.game-screenshot:nth-child(even) {
  margin-left: 10px;
}

.game-trailer {
  width: 100%;
  margin: 20px 0;
}
